@charset "UTF-8";


/*- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weights: 500, 700

- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700*/

@font-face{
    font-family: 'Montserrat';
    src: url()('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@400;700&family=Permanent+Marker&family=Sriracha&display=swap');
}

:root{
    --cor1: hsl(158, 36%, 37%);
    --cor2: hsl(30, 38%, 92%);
}

body{
    margin: 0px;
    padding: 0px;
    background-color: var(--cor2);
}

.container{
    background-color: gray;
    width: 40vw;
    height: 60vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.205);

}

.imagem{
    display: inline-block;
    background-color: black;
    background-image: url(images/image-product-desktop.jpg);
    background-position: center center;
    width: 50%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: inset 0px 0px 50px 40px rgba(0, 0, 0, 0.295);
}

.conteudo{
    position: absolute;
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    
}

.conteudo h1{
    width: 12vw;
    font-size: 2.5em;
}

.conteudo h2{
    font-size: 1.5em;
    padding-top: 2vh;
}

.texto{
    width: 17vw;
    font-family: var(--font1);
}

.preco{
    display: inline-block;
    width: 5vw;
}

#preco_novo{
    font-size: 3em;
    padding-right: 5vw;
}

button{
    display: block;
    width: 250px;
    margin: auto;
    border-radius: 5px;
    height: 50px;
    border: none;
    background-color: var(--cor1);
}

button:hover{
    cursor: pointer;
}
