@charset "UTF-8";



body{
    background-color: gray;
}

button{
    background-color: white;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 30%;
    left: 40%;
    border-radius: 50%;
    transition: 1s;
}

button:hover{
    background-color: rgba(0, 255, 255, 0.336);
    transform: scale(90%);
}

button:active{
    transform: scale(110%);
    transition: 0.2s;
    background-color: greenyellow;
    background-image: url(imagnes/correto.png);
}
